<form>
    <h1 class="logo" [routerLink]="['/']">{{ logo }}</h1>
        <title>{{ titulo }}.</title>
            <h3>Calculando equações do 2º Grau.</h3>
                <div id="entrada">
                    <label for="a"><br>a : </label>
                    <input [(ngModel)]="coeficientes.a" type="number" id="a" name="a"><br><br>
                    <label for="b"><br>b : </label>
                    <input [(ngModel)]="coeficientes.b" type="number" id="b" name="b"><br><br>
                    <label for="c"><br>c : </label>
                    <input [(ngModel)]="coeficientes.c" type="number" id="c" name="c"><br><br>  
                </div>
            <div id="botao">
        <button type="button"
        (click)="calcular()">CALCULAR</button>
    </div>
</form>