form {
    padding: 20px 20px;

    h1 { text-align: center; }

    h3 {
        margin-top: 26px;
        margin-left: 30px;
        padding: 88px 2px;
        }

    #entrada {
        border-radius: 9px 10px;
        background-color: #390ac5;
        margin-top: 10px;
        margin-left: 10px;
        padding: 20px 30px;
        width: 93%;

    }
    #entrada {
        margin-bottom: 75px;
    }

    #botao {
        background-color: #390ac5;
        border-radius: 9px 10px;
        margin-left: 10px;
        margin-top: 17px;
        margin-right: 18px;
        padding: 15px 0px;
        text-align: center;
        width: 97%;

        button {
            padding: 13px 10px;
            width: 58%;
        }

    }
}