h1 { margin-top: 15px;
     padding: 10px 25px; 
    }

form { padding: 10px 1px; 

    h2 { text-align: center;
         margin-bottom: 100px; }

    .info { padding: 40px 10px;
            margin: 40px 40px;
            font-size: x-large;
            background-color: #390ac5;
            border-radius: 9px 15px; 
        } 
    }

.botao { padding: 9px 10px;     
         margin: 40px 40px;
         font-size:larger;
         background-color: #390ac5;
         border-radius: 9px 15px;        
         text-align: center;
    
        .desc { text-align: center; }

        button { border-radius:10px 10px;
                 padding: 13px 5px;
                 width: 90%; 
                } 
        }