<h1>{{ logo }}.</h1>
    <form action="">
        <h2>{{ titulo }}.</h2>
            <div class="info">
                <span>
                    Meu amigo professor!
                    Precione a tecla INICIAR LANÇAMENTO para informar, nos campos que 
                    surgirem, os valores dos coeficientes da equação do 2º Grau.
                </span>
            </div>
    </form>
<form>
    <div class="botao">
        <p class="desc">Fórmula de BHASKARA</p>
        <button type="button" 
        [routerLink]="['/lancar-equacao']">INICIAR LANÇAMENTO</button>
    </div>
</form>