<form>
    <h1 [routerLink]="['/']">{{ logo }}.</h1>

        <div>
            <p>Os coeficientes têm os sequintes valores :</p>
                <span id="a">{{ coeficientes.a }}</span>
                    <label for="a">a </label>
                    <span id="b">{{ coeficientes.b }}</span>
                    <label for="b">b </label>
                    <span id="c">{{ coeficientes.c }}</span>
                    <label for="c">c = </label>
                    <span>0</span>
        </div><br><br>
            <p class= "temos">Temos :</p>
        <fieldset class="campo"> 
            <p>======================</p>
            <label for="delta">O valor de Delta = </label>
            <span id="delta">{{ response.delta}}</span><br><br>
            <hr><br>
        </fieldset>
       
        <fieldset class="campox">
            <h2>{{ titulo }}.</h2>
            <p>========= =========</p>
            <label for="x1"> X1 = </label>
            <span id="x1">{{ response.x1 }}</span><br>

            <label for="x2"> X2 = </label>
            <span id="x2">{{ response.x2 }}</span><br>
    <!--    <span id="x2">{{ response.x2 | currency :'BRL' }}</span><br>  -->
        </fieldset>
</form><br>
    <div class="msg">
        <p onclick="msg()">{{ response.message }}</p>       
    </div>
<form id="botao">
    <button type="button" [routerLink]="[('/lancar-equacao')]">Novo CALCULO</button>
    <button type="button" onclick="alert ('Clique no Logo - Para retornar a tela inicial ou tecla Fechar' )">
    Click Me!
    </button>
</form>