h1 {
    margin-left: 12px;  
    padding-top: 12px;
}

div {
    background-color: #390ac5;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 18px;
    width: 97%;
    text-align: center;
    font-size: 33px;
    color: #f50b0b;
    span {
        font-size: 27px;
        color: #0bf526;
    }
    p{
        font-size: 39px ;
    }
}

.temos {
    padding-left: 20px;
}
fieldset {
    margin-bottom: 4px;
    background-color: #220f63;
    border-radius: 8px;
    width: 95%;
    padding-left: 16px;
    margin-left: 16px;
}
.campox {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px ;
    font: xx-large ;
}
.msg{
    font-size: 10px ;
    margin-left: 15px;
    margin-bottom: 5px;
    color: #d7d4d5;
    white-space: break-spaces;
}
#botao {
    border-radius: 9px 10px;
    text-align: center; 
    width: 100%;
    button {
        margin-right: 15px;
        padding-right: 200px;
        padding-left: 200px;
        padding-top: 2px;
        text-align: center; 
    }
}
