/* You can add global styles to this file, and also import other style files */
    html {
        height: 96%;
    }
    body {
        max-width: 100%;
        min-height: 96%;
        margin: 2;
        background-color: #6b6969;
        color: #345280;
    }